In [3]:
import pandas as pd
import numpy as np

In [4]:
import json

In [6]:
#reading a json file::
with open("demo_json.json","r") as f:
    data=json.load(f)
print(f"json data is loaded,length of the data is : {len(data)}")

json data is loaded,length of the data is : 6

In [7]:
data

[{'order_id': 'ORD1001',
  'order_date': '2025-01-10',
  'customer': {'customer_id': 'CUST01',
   'name': 'Rahul Sharma',
   'city': 'Delhi'},
  'items': [{'product_id': 'P101',
    'product_name': 'Laptop',
    'category': 'Electronics',
    'price': 55000,
    'quantity': 1},
   {'product_id': 'P102',
    'product_name': 'Mouse',
    'category': 'Electronics',
    'price': 500,
    'quantity': 2}],
  'payment': {'method': 'Credit Card', 'status': 'Success'}},
 {'order_id': 'ORD1002',
  'order_date': '2025-01-11',
  'customer': {'customer_id': 'CUST02',
   'name': 'Sneha Verma',
   'city': 'Mumbai'},
  'items': [{'product_id': 'P103',
    'product_name': 'Mobile Phone',
    'category': 'Electronics',
    'price': 32000,
    'quantity': 1}],
  'payment': {'method': 'UPI', 'status': 'Success'}},
 {'order_id': 'ORD1003',
  'order_date': '2025-01-12',
  'customer': {'customer_id': 'CUST03', 'name': 'Amit Patel', 'city': 'Pune'},
  'items': [{'product_id': 'P201',
    'product_name': 'Dining Table',
    'category': 'Furniture',
    'price': 18000,
    'quantity': 1},
   {'product_id': 'P202',
    'product_name': 'Chair',
    'category': 'Furniture',
    'price': 3500,
    'quantity': 4}],
  'payment': {'method': 'Cash', 'status': 'Failed'}},
 {'order_id': 'ORD1004',
  'order_date': '2025-01-13',
  'customer': {'customer_id': 'CUST04',
   'name': 'Neha Singh',
   'city': 'Bangalore'},
  'items': [{'product_id': 'P104',
    'product_name': 'Headphones',
    'category': 'Electronics',
    'price': 2500,
    'quantity': 2}],
  'payment': {'method': 'Debit Card', 'status': 'Success'}},
 {'order_id': 'ORD1005',
  'order_date': '2025-01-14',
  'customer': {'customer_id': 'CUST05',
   'name': 'Karan Mehta',
   'city': 'Delhi'},
  'items': [{'product_id': 'P301',
    'product_name': 'Office Chair',
    'category': 'Furniture',
    'price': 12000,
    'quantity': 1}],
  'payment': {'method': 'Net Banking', 'status': 'Success'}},
 {'order_id': 'ORD1006',
  'order_date': '2025-01-15',
  'customer': {'customer_id': 'CUST06',
   'name': 'Pooja Iyer',
   'city': 'Chennai'},
  'items': [{'product_id': 'P105',
    'product_name': 'Smart Watch',
    'category': 'Electronics',
    'price': 9000,
    'quantity': 2}],
  'payment': {'method': 'UPI', 'status': 'Success'}}]

In [12]:
#flattening a json format data into a dataframe::
df = pd.json_normalize(
    data,
    record_path=["items"],          
    meta=[
        "order_id",
        "order_date",
        ["customer", "customer_id"],
        ["customer", "name"],
        ["customer", "city"],
        ["payment", "method"],
        ["payment", "status"],
    ]
)

In [11]:
df

,product_id,product_name,category,price,quantity,order_id,order_date,customer.customer_id,customer.name,customer.city,payment.method,payment.status
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success

In [ ]:
#cleaning a data::

In [14]:
column_mapping = {
    "product_id": "Product ID",
    "product_name": "Product Name",
    "category": "Product Category",
    "price": "Price",
    "quantity": "Quantity Sold",
    "order_id": "Order ID",
    "order_date": "Order Date",
    "customer.customer_id": "Customer ID",
    "customer.name": "Customer Name",
    "customer.city": "Customer City",
    "payment.method": "Payment Method",
    "payment.status": "Order Status",
}
df1 = df.rename(columns=column_mapping)
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success

In [15]:
#orderDate coloumn should be in datetime format::
df1["Order Date"] = pd.to_datetime(df1["Order Date"])

In [16]:
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success

In [17]:
# price & quantity sold column should be in numeric::
df1["Price"] = pd.to_numeric(df1["Price"])
df1["Quantity Sold"] = pd.to_numeric(df1["Quantity Sold"])

In [18]:
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success

In [20]:
# Handle missing values::
df1["Customer City"] = df1["Customer City"].fillna("Unknown")
df1["Customer Name"] = df1["Customer Name"].fillna("Unknown Customer")
df1["Price"] = df1["Price"].fillna(0)
df1["Quantity Sold"] = df1["Quantity Sold"].fillna(0)

In [21]:
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success

In [22]:
print("Cleaned DataFrame info:")
df.info()

Cleaned DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_id            8 non-null      object
 1   product_name          8 non-null      object
 2   category              8 non-null      object
 3   price                 8 non-null      int64
 4   quantity              8 non-null      int64
 5   order_id              8 non-null      object
 6   order_date            8 non-null      object
 7   customer.customer_id  8 non-null      object
 8   customer.name         8 non-null      object
 9   customer.city         8 non-null      object
 10  payment.method        8 non-null      object
 11  payment.status        8 non-null      object
dtypes: int64(2), object(10)
memory usage: 900.0+ bytes

In [ ]:
#numpy based transformation::

In [27]:
price_arr = df1["Price"].to_numpy()
qty_arr   = df1["Quantity Sold"].to_numpy()
status_arr = df1["Order Status"].to_numpy()

In [28]:
print(f"the price_arr is : {price_arr}")
print(f"the qty_arr is : {qty_arr}")
print(f"the status_arr is : {status_arr}")

the price_arr is : [55000   500 32000 18000  3500  2500 12000  9000]
the qty_arr is : [1 2 1 1 4 2 1 2]
the status_arr is : ['Success' 'Success' 'Success' 'Failed' 'Failed' 'Success' 'Success'
 'Success']

In [29]:
#Adding total amount coloumn::
total_amount_arr = price_arr * qty_arr
df1["Total Amount"] = total_amount_arr

In [30]:
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status,Total Amount
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success,55000
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success,1000
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success,32000
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed,18000
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed,14000
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success,5000
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success,12000
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success,18000

In [31]:
#adding Revenue coloumn::
revenue_arr = np.where(status_arr == "Success", total_amount_arr, 0)
df1["Revenue Recognized"] = revenue_arr

In [32]:
df1

,Product ID,Product Name,Product Category,Price,Quantity Sold,Order ID,Order Date,Customer ID,Customer Name,Customer City,Payment Method,Order Status,Total Amount,Revenue Recognized
0,P101,Laptop,Electronics,55000,1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success,55000,55000
1,P102,Mouse,Electronics,500,2,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Credit Card,Success,1000,1000
2,P103,Mobile Phone,Electronics,32000,1,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,UPI,Success,32000,32000
3,P201,Dining Table,Furniture,18000,1,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed,18000,0
4,P202,Chair,Furniture,3500,4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Cash,Failed,14000,0
5,P104,Headphones,Electronics,2500,2,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Debit Card,Success,5000,5000
6,P301,Office Chair,Furniture,12000,1,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Net Banking,Success,12000,12000
7,P105,Smart Watch,Electronics,9000,2,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,UPI,Success,18000,18000

In [36]:
df_success = df1[df1["Order Status"] == "Success"].copy()
order_revenue = df_success.groupby("Order ID")["Revenue Recognized"].sum()
print(df_success)
print(order_revenue)

  Product ID  Product Name Product Category  Price  Quantity Sold Order ID  \
0       P101        Laptop      Electronics  55000              1  ORD1001
1       P102         Mouse      Electronics    500              2  ORD1001
2       P103  Mobile Phone      Electronics  32000              1  ORD1002
5       P104    Headphones      Electronics   2500              2  ORD1004
6       P301  Office Chair        Furniture  12000              1  ORD1005
7       P105   Smart Watch      Electronics   9000              2  ORD1006

  Order Date Customer ID Customer Name Customer City Payment Method  \
0 2025-01-10      CUST01  Rahul Sharma         Delhi    Credit Card
1 2025-01-10      CUST01  Rahul Sharma         Delhi    Credit Card
2 2025-01-11      CUST02   Sneha Verma        Mumbai            UPI
5 2025-01-13      CUST04    Neha Singh     Bangalore     Debit Card
6 2025-01-14      CUST05   Karan Mehta         Delhi    Net Banking
7 2025-01-15      CUST06    Pooja Iyer       Chennai            UPI

  Order Status  Total Amount  Revenue Recognized
0      Success         55000               55000
1      Success          1000                1000
2      Success         32000               32000
5      Success          5000                5000
6      Success         12000               12000
7      Success         18000               18000
Order ID
ORD1001    56000
ORD1002    32000
ORD1004     5000
ORD1005    12000
ORD1006    18000
Name: Revenue Recognized, dtype: int64

In [37]:
# Identify high vhalue order IDs
high_value_order_ids = order_revenue[order_revenue > 1000].index

order_id_arr = df1["Order ID"].to_numpy()
is_high_value_arr = np.isin(order_id_arr, high_value_order_ids)

df1["High Value Order Flag"] = np.where(is_high_value_arr, "Yes", "No")

In [38]:

print("Data with NumPy-based calculated fields:")
df1[[
    "Order ID", "Product Name", "Price", "Quantity Sold",
    "Total Amount", "Order Status", "Revenue Recognized",
    "High Value Order Flag"
]]

Data with NumPy-based calculated fields:

,Order ID,Product Name,Price,Quantity Sold,Total Amount,Order Status,Revenue Recognized,High Value Order Flag
0,ORD1001,Laptop,55000,1,55000,Success,55000,Yes
1,ORD1001,Mouse,500,2,1000,Success,1000,Yes
2,ORD1002,Mobile Phone,32000,1,32000,Success,32000,Yes
3,ORD1003,Dining Table,18000,1,18000,Failed,0,No
4,ORD1003,Chair,3500,4,14000,Failed,0,No
5,ORD1004,Headphones,2500,2,5000,Success,5000,Yes
6,ORD1005,Office Chair,12000,1,12000,Success,12000,Yes
7,ORD1006,Smart Watch,9000,2,18000,Success,18000,Yes

In [42]:
df_success = df1[df1["Order Status"] == "Success"].copy()

df1["Order Completion Flag"] = np.where(df1["Order Status"] == "Success", "Completed", "Not Completed")

print("Sample of business logic columns:")
df1[[
    "Order ID", "Order Status", "Order Completion Flag",
    "Total Amount", "Revenue Recognized", "High Value Order Flag"
]]

Sample of business logic columns:

,Order ID,Order Status,Order Completion Flag,Total Amount,Revenue Recognized,High Value Order Flag
0,ORD1001,Success,Completed,55000,55000,Yes
1,ORD1001,Success,Completed,1000,1000,Yes
2,ORD1002,Success,Completed,32000,32000,Yes
3,ORD1003,Failed,Not Completed,18000,0,No
4,ORD1003,Failed,Not Completed,14000,0,No
5,ORD1004,Success,Completed,5000,5000,Yes
6,ORD1005,Success,Completed,12000,12000,Yes
7,ORD1006,Success,Completed,18000,18000,Yes

In [44]:
mandatory_columns = [
    "Order ID",
    "Order Date",
    "Customer ID",
    "Customer Name",
    "Customer City",
    "Product Name",
    "Product Category",
    "Quantity Sold",
    "Total Amount",
    "Payment Method",
    "Order Status",
    "High Value Order Flag",
]

final_df = df1[mandatory_columns].copy()

final_df = final_df.sort_values(by=["Order Date", "Order ID"]).reset_index(drop=True)

print("Final analytical DataFrame:")
final_df

Final analytical DataFrame:

,Order ID,Order Date,Customer ID,Customer Name,Customer City,Product Name,Product Category,Quantity Sold,Total Amount,Payment Method,Order Status,High Value Order Flag
0,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Laptop,Electronics,1,55000,Credit Card,Success,Yes
1,ORD1001,2025-01-10,CUST01,Rahul Sharma,Delhi,Mouse,Electronics,2,1000,Credit Card,Success,Yes
2,ORD1002,2025-01-11,CUST02,Sneha Verma,Mumbai,Mobile Phone,Electronics,1,32000,UPI,Success,Yes
3,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Dining Table,Furniture,1,18000,Cash,Failed,No
4,ORD1003,2025-01-12,CUST03,Amit Patel,Pune,Chair,Furniture,4,14000,Cash,Failed,No
5,ORD1004,2025-01-13,CUST04,Neha Singh,Bangalore,Headphones,Electronics,2,5000,Debit Card,Success,Yes
6,ORD1005,2025-01-14,CUST05,Karan Mehta,Delhi,Office Chair,Furniture,1,12000,Net Banking,Success,Yes
7,ORD1006,2025-01-15,CUST06,Pooja Iyer,Chennai,Smart Watch,Electronics,2,18000,UPI,Success,Yes

In [ ]:
#Business Questions to Answer::

In [45]:
df_success = df1[df1["Order Status"] == "Success"].copy()

print("Business Questions & Answers")

# 1> Total revenue per city::
revenue_per_city = df_success.groupby("Customer City")["Revenue Recognized"].sum().sort_values(ascending=False)
print("\n1. Total revenue per city:")
print(revenue_per_city)

Business Questions & Answers

1. Total revenue per city:
Customer City
Delhi        68000
Mumbai       32000
Chennai      18000
Bangalore     5000
Name: Revenue Recognized, dtype: int64

In [46]:
# 2> Product category with highest revenue::
revenue_per_category = df_success.groupby("Product Category")["Revenue Recognized"].sum()
top_category = revenue_per_category.idxmax()
print("\n2. Product category with highest revenue:")
print(revenue_per_category)
print(f"Highest revenue category: {top_category}")

2. Product category with highest revenue:
Product Category
Electronics    111000
Furniture       12000
Name: Revenue Recognized, dtype: int64
Highest revenue category: Electronics

In [48]:
# 3> Count of high-value orders ::
high_value_order_ids = df1[df1["High Value Order Flag"] == "Yes"]["Order ID"].unique()
high_value_order_count = len(high_value_order_ids)
print(f"\n3. Count of high-value orders: {high_value_order_count}")

3. Count of high-value orders: 5

In [49]:
# 4> Average order value on successful orders only::
order_level_revenue = df_success.groupby("Order ID")["Revenue Recognized"].sum()
total_revenue = order_level_revenue.sum()
num_orders = order_level_revenue.shape[0]
aov = total_revenue / num_orders if num_orders > 0 else 0
print(f"\n4. Average order value (AOV): {aov:.2f}")

4. Average order value (AOV): 24600.00

In [51]:
# 5> Most preferred payment method::
payment_counts = df1.groupby("Payment Method")["Order ID"].nunique()
top_payment_method = payment_counts.idxmax()
print("\n5. Most preferred payment method (unique orders):")
print(payment_counts)
print(f"Most preferred payment method: {top_payment_method}")

5. Most preferred payment method (unique orders):
Payment Method
Cash           1
Credit Card    1
Debit Card     1
Net Banking    1
UPI            2
Name: Order ID, dtype: int64
Most preferred payment method: UPI

In [52]:
# 6> Top customers by revenue::
customer_revenue = df_success.groupby(["Customer ID", "Customer Name"])["Revenue Recognized"].sum()
top_customers = customer_revenue.sort_values(ascending=False).head(5)
print("\n6. Top customers by revenue:")
print(top_customers)

6. Top customers by revenue:
Customer ID  Customer Name
CUST01       Rahul Sharma     56000
CUST02       Sneha Verma      32000
CUST06       Pooja Iyer       18000
CUST05       Karan Mehta      12000
CUST04       Neha Singh        5000
Name: Revenue Recognized, dtype: int64

In [54]:
# 7> Completed vs cancelled/failed orders::
order_status_counts = df1.groupby("Order Status")["Order ID"].nunique()
print("\n7. Completed vs cancelled/failed orders (unique orders):")
print(order_status_counts)

7. Completed vs cancelled/failed orders (unique orders):
Order Status
Failed     1
Success    5
Name: Order ID, dtype: int64